body{
    background: rgb(0, 0, 0);
}

.jumbotron{
    margin-top: 150px;
    margin-bottom: 300px;
    background: black;
    filter: blur(.6px);
    color: white;
    text-shadow: 0 0 10px rgb(137, 32, 185),
                 0 0 20px rgb(137, 32, 185),
                 0 0 40px rgb(137, 32, 185),
                 0 0 80px rgb(137, 32, 185),
                 0 0 140px rgb(137, 32, 185);
}

/* make a media query for HOME */


.intro{
    filter: blur(.2px);
    color: white;

    /* text-size-adjust: 10px; */
    text-align: center;
    margin-bottom: 200px;
}


/* .display-4{
    font-size: 30px;
} */


.word1{
    /* padding-left: 10px; */
    text-shadow: 0 0 10px rgb(137, 32, 185),
                 0 0 20px rgb(137, 32, 185),
                 0 0 40px rgb(137, 32, 185);
    font-size: 30px;
    /* margin-bottom: 30px; */

}


/* .word{
    padding-left: 40px;
    text-shadow: 0 0 10px rgb(137, 32, 185),
                 0 0 20px rgb(137, 32, 185),
                 0 0 40px rgb(137, 32, 185);
    font-size: 30px;
} */

.dice{
    /* box-shadow: 0 0 10px rgb(179, 137, 199), */
                 /* 0 0 20px rgb(137, 32, 185); */
                 /* 0 0 40px rgb(137, 32, 185); */
}

.video{
    box-shadow: 0 0 10px rgb(177, 131, 199),
                 0 0 10px rgb(137, 32, 185);
}

.pre{
    color: white;
    text-shadow: 0 0 10px rgb(217, 161, 243);
                 /* 0 0 20px rgb(236, 218, 245), */
                 /* 0 0 40px rgb(197, 165, 212); */

    font-size: 30px;
    

}


.pro{
    color: white;
    text-shadow: 0 0 10px rgb(217, 161, 243);
    font-size: 20px;

}



.one{
    margin-top: 300px;
}

.two{
    margin-top: 300px;
}

.three{
    margin-top: 300px;
}

.four{
    margin-top: 300px;
    margin-bottom: 200px;
}



.underline  {
    position: relative;
    /* border-bottom: 5px solid brown; */
     /* padding: 10px; */
     
    
  }
   /* .underline:hover {
    /* border-bottom: 5px solid brown; */   
  .underline::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 20px;
    left: 0;
    /* background-color: brown; */
    background-color: hsl(0, 0%, 100%);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.8s ease-in-out 0s;
    box-shadow: 0 0 10px rgb(137, 32, 185),
                 0 0 20px rgb(30, 0, 163),
                 0 0 40px rgb(137, 32, 185);
    /* margin-top: 20px; */
    /* margin-bottom: -3px; */
  }
  
  .underline:hover::before{
    visibility: visible;
    transform: scaleX(1);
  }


h2{
    /* margin-top: 400px; */
    /* filter: blur(.6px); */
    /* color: white; */
    /* text-shadow: 0 0 10px rgb(116, 32, 185), */
                 /* 0 0 20px rgb(73, 32, 185), */
                 /* 0 0 40px rgb(137, 32, 185); */
                 /* 0 0 80px rgb(137, 32, 185); */
                 /* 0 0 140px rgb(137, 32, 185); */

    /* margin-top: 350px; */
}

/* * {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

.lake {
	transition: initial;
}


.lake{
    background-image: url(./img/hero-bg.jpg);
	background-size: cover;
	background-position: center;
	padding: 20em 0;
    color: #FFF;
	transition: initial;
} */



/* scrolling sideways effect */

.wrapper{
    min-height: 110px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}

.wrapper .item{
    min-width: 250px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background: #ddd;

}



/* navbar */

.navbar{
    background: black;
    color: white;
    text-shadow: 0 0 10px rgb(229, 220, 233);
    /* filter: blur(.005px); */
    /* float: right; */
}


/* 2nd navbar */

.nav{
    text-shadow: 0 0 10px rgb(177, 154, 207);
}


/* end 2nd navbar */


.uno{
    box-shadow: 1px 1px 8px 5px rgb(154, 82, 248);
    /* background: rgb(140, 228, 191); */

}

.dos{
    /* background: rgb(140, 228, 191); */
    box-shadow: 1px 1px 6px 5px rgb(175, 175, 175);
    top: -5em;
    /* margin-top: 500px; */
}

.space {
    padding-bottom: 30px;
}


.tres{
    /* background: rgb(140, 228, 191); */
    box-shadow: 1px 1px 8px 5px rgb(138, 144, 158);
    /* top: -5em; */
    /* margin-top: 500px; */
}



.level2{
    background-image: linear-gradient(black, white);
}



hr{
    box-shadow: 0 0 10px rgb(154, 82, 248),
                0 0 20px rgb(214, 182, 255);
}


.irmax{
    line-height: 30px;
}


/* featured artists start */

.sub{
    color: white;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 0 0 10px rgb(229, 220, 233);
}


.diez{
    color: white;
    text-shadow: 0 0 10px rgb(137, 217, 230);
    margin-left: 20px;
}

.diego{
    height: 500px;

}

.hola{
    margin-left: 220px;
}



.once{
    color: white;
    text-shadow: 0 0 10px rgb(137, 217, 230);
    margin-left: 4.5px;
}

.kgSalone{
    height: 500px;
    /* padding-left: 200; */
}
.adios{
    margin-left: 200px;
}



.doce{
    color: white;
    text-shadow: 0 0 10px rgb(137, 217, 230);
    margin-left: 140px;
}

.yolo{
    height: 500px;
}



.nuevo{
    margin-bottom: 150px;
}



/* featured artists end */


/* the team start */

.team{
    margin-top: 200px;
    margin-bottom: 200px;
}

.sub2{
    color: white;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 0 0 10px rgb(229, 220, 233);
}


.juanita{
    height: 400px;
}

.move1{
    margin-left: 15px;
}


.shay{
    height: 400px;
}

.kam{
    height: 400px;
    width: 229px;
    margin-top: 28px;
}

.move3{
    /* margin-left: 30px; */
}


.greg1{
    margin-top: -20px;
}

.greg2{
    height: 400px;
    width: 222px;
    margin-top: -8px;
}

.move4{
    /* margin-left: 40px; */
}


.move5{
    margin-top: 100px;
    margin-left: 220px;
}


.move6{
    margin-top: 100px;
    /* margin-right: 300px; */
}